.pokedex {
  margin: 1rem;
  &__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

    li {
      list-style: none;
    }
  }

  &__card {
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    width: 260px;
    height: 355px;
    background-color: #78c850;
    color: white;
  }
}
