.input {
  text-align: center;
  margin-top: 1rem;
  margin: 1rem 2rem;

  input {
    border: none;
    border-radius: 2rem;
    background-color: #e7e7e7;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
    max-width: 794px;
    // margin: 0rem 2rem;
  }
}
