.table,
.table__row {
  table-layout: fixed;
  width: 100%;
  max-width: 300px;
  margin: 1.5rem 0rem;
  border-collapse: collapse;
  border: 1px solid #9d9d9d;
  border-left: none;
  border-right: none;
  color: #494949;
  font-size: 13px;

  th {
    font-weight: 400;
    text-align: center;
    padding: 1rem 2.5rem;
    background-color: #d9d9d9;
  }

  th {
    max-width: 130px;
  }
  td {
    font-weight: 600;
    text-align: center;
    padding-right: 0.45rem;
    max-width: 130px;
  }
}
