@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #d5d5d521; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grass {
  background-color: #78c850;
}

.poison {
  background-color: #a040a0;
}

.fire {
  background-color: #f08030;
}

.flying {
  background-color: #a890f0;
}

.water {
  background-color: #6890f0;
}

.bug {
  background-color: #a8b820;
}

.normal {
  background-color: #a5a477;
}

.electric {
  background-color: #d5b328;
}

.ground {
  background-color: #e0c068;
}

.fairy {
  background-color: #f0b6bc;
}

.fighting {
  background-color: #c03028;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
}

.ghost {
  background-color: #705898;
}

.psychic {
  background-color: #f85888;
}

.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}

.ice {
  background-color: #98d8d8;
}
